<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<property name="Charset" value="UTF-8" />
	<property name="FileName" value="log" />
	<property name="Format" value="%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}.%M\(%F:%L\)] %msg%n" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${Format}</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

</configuration>
